@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KaiTi';
  src: url('/fonts/kaiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}
